p{
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
li {
    list-style-type: none; 
}
ul{
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.page-wrapper{
    width: 1440px;
    margin: 0 auto;
}
.header{
    width: 1440px;
    height: 80px;

    background-color: #58C3F0;
}
.header__logo{
    float: left;
    
    display: flex;

    padding-top: 10px;
    padding-left: 30px;
}
.header__nav-container{
    float: right;
    display: flex;
    justify-content: space-around;

    width: 530px;
    margin-right: 70px;
    margin-top: 25px;
}
.header__nav-item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #F3F3F3;
    text-decoration: none;
}
.intro{
    width: 1440px;
    height: 392px;
}
.intro__text-element{
    float: left;
    padding-left: 70px;
    padding-top: 90px;
}
.intro__text-element_weight_600{
    color: #FF4F5A;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;

    margin-top: 0px;
    margin-bottom: 10px;
}
.intro__text-element_weight_500{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #FF4F5A;

    margin-top: 0px;
    margin-bottom: 10px;
}
.intro__text-element_weight_400{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FF4F5A;
}
.intro__text-element-button{
    width: 130px;
    height: 35px;
    margin-top: 20px;

    background-color: #FF4F5A;
    color: white;
    border-radius: 8px;
    border: 0px;
}
.intro__img-element{
    float: right;
}
.statistics{
    width: 1440px;
    height: 300px;

    background-color: #58C3F0;
}
.statistics__title{
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: white;
}
.statistics__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-align: center;
}
.statistics__img-block{
    display: flex;
    width: 1000px;
    color:white;
    justify-content: space-around;
    margin: auto;
    margin-top: 70px;
    align-items:center;
}
.item__corona-img{
    display: block;
   width: auto;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}
.item__num{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.item__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: white;
}
.info{
    height: 1000px;
    width: 1440px;
}
.info__content-card{
    padding-top: 50px;
    width: 1144px;
    margin: 0 auto;
}
.content-card__img_float_right{
    float: right;
}
.content-card__text_float_right{
    float: right;
    width: 560px;
    height: 350px;
}
.content-card__text_float_left{
    float: left;
    width: 560px;
    height: 350px;
}
.content-card__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.content-card__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 40px;
}
.list-item__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 24px;
}
.list-item__img{
    float: left;
    padding-top: 3px;
    padding-right: 5px;
}
.icons-block{
    display: flex;
    width: 1440px;
    height: 135px;
    background-color: #58C3F0;
    justify-content: space-around;
}
.icons-block__item{
    width: 300px;
    height: 60px;
    padding-top: 37.5px;
}
.item-img{
    float: left;
    margin-right: 5px;
}
.item__titel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: white;
}
.item__subtitle{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.prevent-block{
    width: 1440px;
    height: 750px;
}
.prevent-block__cards{
    width: 550px;
    display: inline-block;
    margin-left: 100px;
}
.card{
    width: 250px;
    height: 320px;
}
.prevent-block__text{
    margin-top: 100px;
    width: 620px;
    float: right;
    margin-right: 135px;
}
.prevent-block__text_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 50px;
}
.prevent-block__text_subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
}   
.prevent-block__button{
    width: 130px;
    height: 35px;
    margin-top: 20px;

    background-color: #FF4F5A;
    color: white;
    border-radius: 8px;
    border: 0px;
}
.symptoms-block{
    width: 1440px;
    height: 540px;
    background-color: #58C3F0;
    padding-top: 25px;
    text-align: center;
}
.symptoms-block__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
}
.symptoms-block__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.symptoms-block__cards-block{
    width: 1120px;
    height: 385px;
    margin: 0 auto;
    margin-top: 50px;
}
.symptoms-block__card{
    width: 500px;
    height: 120px;
    background-color: #F3F3F3;
    padding-top: 20px;
    display: inline-block;
    border-radius: 8px;
    margin: 20px;
}
.symptoms-block__card-img{
    float: left;
    margin-left: 40px;
    margin-right: 25px;
}
.symptoms-block__card-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    
}
.symptoms-block__card-subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin-top: 10px;
}